:root{
    --primary-color: white;
    --secondary-color: Green;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}
#image-off{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#btn{
    height: 60px;
    width: 80px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}